*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Overpass Mono", monospace;
  font-size: 24px;
  background-color: #222222;
  color: white;
  gap: 1.2em;
}

img {
  height: 13em;
}

@media (max-width: 1200px) {
  img {
    height: 8em;
  }
}

@media (max-width: 992px) {
  body {
    flex-direction: column;
    font-size: 18px;
    text-align: center;
  }

  img {
    height: 12em;
  }
}

section h1 {
  color: #f26508;
  font-size: 2em;
}

section p {
  color: #aaa;
}

section hr {
  border: 1px solid #555;
  margin-top: 4px;
  margin-bottom: 8px;
}

section p.location {
  color: #efddff;
}

section a {
  color: #888;
  text-decoration: none;
}

section a:hover,
section a:focus-visible {
  text-decoration: underline;
}
